﻿
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}
.gird{
    display: grid;
    width: 114em;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
}
body{
    background-color: #eee;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: #fff;
}
section{
    padding: 10rem 0;
    background-color: #fff;
}
.heading{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #333;
    position: relative;
}
.heading::after{
    content: "";
    width: 10rem;
    height: 8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}
.card-info{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-left: 10rem;
    padding-top: -200rem;
   
}
.card{
    width: 32rem;
    background-color: #ebeef8;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: 5rem .5rem 3rem rgba(0,0,0,0.2);
}
    .card .card-img {
        width: 100%;
        height: 26rem;
        object-fit: cover;
        clip-path: polygon(0 13%, 78% 0%, 100% 90%, 0 99%);
        clip-path: polygon(0 13%, 78% 0%, 100% 90%, 0 99%);
}
.profile-img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    padding-top: 9rem;
    border: 1rem solid #ebeef8;
}
.card-info{
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
}
.job-title{
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}
.about {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}
.card .button{
    padding: 1rem 2.5rem;
    background-color: #445ae3;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    transition: all .5s;
}
.card .button:hover{
    transform: translateY(-2px);
    box-shadow: none;
}
.card .button:active{
    transform: translateY(0);
    box-shadow: none;
}
.social-media{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,.1);
}
.social-media i{
    font-size: 3rem;
    transition: color .5s;
}
.fa-facebook-square{
    color:#3b5999;
}
.fa-twitter-square{
    color: #55acee;
}
.fa-instagram{
    color: #e6683c;
}
.fa-google-plus-square{
    color: #dd4b39;
}
.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-intagram:hover,
.fa-google-plus-square:hover{
    color: #45e19f;
}
@media screen and (min-width: 1080px) {
    .card-info {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin: 2rem;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    .card:nth-child(1) {
        animation: fadeIn .5s .5s backwards;
    }
    .card:nth-child(2) {
        animation: fadeIn .5s .1s backwards;
    }
    .card:nth-child(3) {
        animation: fadeIn .5s .1.5s backwards;
    }
    .card:nth-child(4) {
        animation: fadeIn .5s .2s backwards;
    }
}


